.contact-body {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 26px;
    padding-bottom: 100px;
}

.contact-color {
    text-decoration: none;
    color: #D81E5B;
}